#chat_menu_wrapper {
    background-color: $back_prim;
    flex: 1 1 25%;
    color: complement($font_prim);


    #cmw_search {
        position: relative;

        #cmw_search_i {
            position: absolute;
            right: .2rem;
        }
    }

    #cmw_profile {
        margin: 0.5rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        // padding: 0.5rem;
        border-radius: .5rem;
        // width: 90%;
        background-color: $back_sec;
        justify-content: space-evenly;
        // align-self: center;
        #userdata {

            display: flex;
            flex-direction: row;
            align-items: center;

            img#user_avatar {
                width: 3rem;
                height: 3rem;
            }

            #username {
                margin-left: 1rem;
                text-align: center;
                // margin: 0 auto;

                font-weight: 600;
            }

        }
    }

    #cmw_actions {
        display: flex;
        flex-flow: row wrap;
    }

    #cmw_chats {
        &::-webkit-scrollbar {
            width: 8px;
            border-radius: 5px;
            

        }
        &::-webkit-scrollbar-track {
            border-radius: 5px;

        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background-color: darken($back_sec, 20%);
                border-radius: 5px;

            }
            &::-webkit-scrollbar-track {
                background-color: rgba(lighten($back_sec, 10%), .4);
    
            }
        }


 

        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
        height: calc(100vh - 14rem);

        .chat_item {
            background-color: $back_prim;
            color: rgba( $font_prim, .7);
            &:hover {
                cursor: pointer;
                background-color: rgba( lighten($back_sec, 10%), .2);
                color:  $font_prim;

            }

            .avatar {
                padding: .5rem;

                width: 3rem;
                height: 3rem;
            }

            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .texts_container {
                flex-direction: column;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                .chat_last_message {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }

            .chat_badges {
                flex-direction: column;
                margin-left: auto;
                text-align: end;
                padding-right: .5rem;

            }
        }
    }

    #cmw_info {
        // position: fixed;
        // bottom: 0;
        // left: 0;
    }
}