html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:any-link {
  color: initial;
}

a {
  text-decoration: none;
}

.btn {
  margin: 0.2rem;
  width: fit-content;
  min-height: 1rem;
  display: flex;
  padding: .5rem;
  cursor: pointer;
  color: black;
  transition: 400ms ease-in-out;
  background-color: #81a86a;
  border-radius: .5rem;
}

.btn:hover {
  transition: 100ms ease-in-out;
  color: black;
  background-color: #8eb17a;
  box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.62);
}

h1 {
  color: white;
  font-size: 3rem;
}

.page {
  height: 100vh;
  width: 100vw;
}

.block {
  height: 100vh;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .2rem;
  min-height: 2rem;
}

.input {
  width: 100%;
  border: 0;
}

.input:hover {
  box-shadow: 0;
}

.input:focus {
  box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.62);
  outline: 0;
  cursor: auto;
}

img.avatar {
  border-radius: 50%;
}

#login_form {
  background-color: #445c36;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_form h1 {
  margin-bottom: 2rem;
}

#chat_menu_wrapper {
  background-color: #445c36;
  flex: 1 1 25%;
  color: white;
}

#chat_menu_wrapper #cmw_search {
  position: relative;
}

#chat_menu_wrapper #cmw_search #cmw_search_i {
  position: absolute;
  right: .2rem;
}

#chat_menu_wrapper #cmw_profile {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: .5rem;
  background-color: #5c7c49;
  justify-content: space-evenly;
}

#chat_menu_wrapper #cmw_profile #userdata {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#chat_menu_wrapper #cmw_profile #userdata img#user_avatar {
  width: 3rem;
  height: 3rem;
}

#chat_menu_wrapper #cmw_profile #userdata #username {
  margin-left: 1rem;
  text-align: center;
  font-weight: 600;
}

#chat_menu_wrapper #cmw_actions {
  display: flex;
  flex-flow: row wrap;
}

#chat_menu_wrapper #cmw_chats {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  height: calc(100vh - 14rem);
}

#chat_menu_wrapper #cmw_chats::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
}

#chat_menu_wrapper #cmw_chats::-webkit-scrollbar-track {
  border-radius: 5px;
}

#chat_menu_wrapper #cmw_chats:hover::-webkit-scrollbar-thumb {
  background-color: #2c3c23;
  border-radius: 5px;
}

#chat_menu_wrapper #cmw_chats:hover::-webkit-scrollbar-track {
  background-color: rgba(116, 156, 92, 0.4);
}

#chat_menu_wrapper #cmw_chats .chat_item {
  background-color: #445c36;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#chat_menu_wrapper #cmw_chats .chat_item:hover {
  cursor: pointer;
  background-color: rgba(116, 156, 92, 0.2);
  color: white;
}

#chat_menu_wrapper #cmw_chats .chat_item .avatar {
  padding: .5rem;
  width: 3rem;
  height: 3rem;
}

#chat_menu_wrapper #cmw_chats .chat_item .texts_container {
  flex-direction: column;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#chat_menu_wrapper #cmw_chats .chat_item .texts_container .chat_last_message {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#chat_menu_wrapper #cmw_chats .chat_item .chat_badges {
  flex-direction: column;
  margin-left: auto;
  text-align: end;
  padding-right: .5rem;
}

#message_wrapper {
  background-color: #5c7c49;
  flex: 3 1 50%;
  background: no-repeat center url("/src/include/28ef0d0fa8-3_1390x600.jpg");
  background-size: auto 100%;
}

#userlist_wrapper {
  flex: 1 1 25%;
  background-color: #445c36;
}

body {
  height: 100vh;
  font-family: 'Commissioner', sans-serif;
}

.hide {
  display: none;
}

#logged {
  display: flex;
}
/*# sourceMappingURL=index.css.map */