@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap');
@import "reset";
@import "general";
@import "messages_styling";
$unhover_transition : 300ms;
$topcolor: #b1f4cf;

// $back_primary: #ace0f9;
// $back_secondary:  #fff1eb;







$font_heavy: 600;
$font_color_secondary: $back_secondary;
$side_gradient: linear-gradient(#fff1eb 0%, #ace0f9 100%);
// $side_gradient: linear-gradient(315deg, #9890e3 0%, #b1f4cf 100%);
// background-image: 

// $ontopcolor: white;
// $topcolor: #93c3f0;

body::-webkit-scrollbar {
    width: 1px;
}

body {
    font-family: 'Commissioner', sans-serif;

    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    .mynav {
        position: fixed;
        z-index: 121;
        width: 100%;

        // background-color: red;
        .nav_list {
            -webkit-app-region: drag;
            display: flex;
            background-color: #fff;
            padding: 0.3rem;

            li>div {
                display: none;


            }


            li#menu_minimize {
                margin-left: auto;


            }

            li#menu_close {
                margin-right: 0;
                padding-right: 0;

                &:hover i {
                    color: red;
                }
            }

            i {
                justify-content: center;
                -webkit-app-region: none;
                font-size: 23px;
            }

            .nav__item {
                -webkit-app-region: none;
                // border: 1px gray solid;
                // background-color: red;
                display: flex;
                justify-content: center;
                cursor: pointer;

                width: 2.5rem;
                // padding-top: 0.1rem;
                // padding-bottom: 0.1rem;

                >div {
                    display: none;

                }

                padding: 0.1rem;


                i {
                    justify-content: center;
                    -webkit-app-region: none;
                    font-size: 23px;
                }

                &:hover i {

                    color: cornflowerblue;
                    cursor: pointer;
                }

                &:not(:hover) i {

                    transition: ease $unhover_transition;
                }


            }
        }
    }

    #chat_settings {

        display: flex;
        height: 70vh;
        top: 15vh;
        left: 25vw;
        width: 50vw;
        z-index: 122;
        padding: 1rem;
        position: fixed;
        background-color: $back_primary;

        .toprow {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: flex-start;


            #chat__name2 {
                color: whitesmoke;
                font-weight: $font_heavy;
                margin-right: auto;
            }

            .nav__item2 {
                padding: 0.5rem;
                padding-left: 2rem;
                cursor: pointer;
                color: lightgray;

                &:hover {
                    color: white;
                }
            }

        }

    }

    #drag_layer {

        position: fixed;
        background-color: #212121b2;
        width: 100vw;
        height: 100vh;
        bottom: 0;
        left: 0;
        z-index: 120;
        display: flex;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        transition: ease-in-out 300ms;

        #drag_hint {
            width: 70vw;
            height: 30vh;
            font-size: 5vw;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px dashed white;
        }
    }

    .container {
        display: flex;

        background-color: $back_secondary;

        .super_container {
            // position: fixed;
            float: left;

            #menu {
                background-color: $font_color_secondary;

                // display: none;
                // padding: 0.5rem;
                position: absolute;
                top: 2.25rem;
                // display: none;
                z-index: 120;
                // background-color: red;
                color: whitesmoke;

                // padding: 1rem;
                #usersection {
                    padding: 1rem;
                }

                .setting_item {
                    cursor: pointer;
                    padding: 0.5rem;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.205);
                    }
                }

                position: fixed;
                width: 200px;
                height: calc(100vh - 2.2rem);
                border-radius: 0;
                box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
            }

            #options {

                a {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    // color: #8d5bdf;
                    color: $font_color_primary;
                }

                height: 1.3rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: fixed;
                top: 2.25rem;
                z-index: 100;
                width: calc(22vw - 0.5rem);
                // padding: .5rem;
                padding-top: .5rem;
                padding-right: .5rem;
                padding-bottom: .6rem;
                display: none;

                background-color: $back_primary;


                //searchback
                // background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

                #search {

                    input {
                        width: calc(22vw - 4rem);
                        height: 1.5rem;
                        outline: none;
                        border-radius: .2rem;
                        border: none;
                        background-color: rgba(255, 255, 255, 0.65);
                    }

                    i {
                        position: absolute;
                        left: calc(22vw - 2.2rem);
                        top: .8rem;
                        // color: gray;
                        color: $font_color_secondary;

                    }
                }
            }

            .roomlist {

                height: 100vh;
                background-color: $back_primary;
                top: 5rem;
                box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
                width: calc(22vw);

                ul {
                    &::-webkit-scrollbar {
                        width: 0.01em;
                        background-color: transparent;
                        // outline: 1px solid slategrey;
                    }

                    display: block;
                    height: calc(100vh - 4rem);
                    // margin-bottom: 1rem;
                    overflow-y: scroll;
                }

                &item {
                    position: relative;

                    margin-top: 10px;

                    margin-left: .5rem;

                    &.collapsed {
                        width: 70px;

                        a {

                            background-color: transparent;
                        }

                        p {
                            display: none;
                        }
                    }


                    a {

                        color: $font_color_primary;
                        display: block;
                        height: 52px;
                        display: flex;
                        align-items: center;
                        position: relative;
                    }

                    &:hover {


                        .texts_container {

                            background-color: lighten($back_primary, 3%);

                            .roomname {
                                color: $font_color_primary;




                            }
                        }
                    }

                    .roomlist__img {
                        border-radius: 50%;
                        width: 50px;
                    }

                    .texts_container {
                        position: absolute;
                        padding-left: 55px;
                        height: 50px;
                        z-index: -1;
                        width: calc(22vw - 6.5rem);

                        .roomname {
                            height: 50%;
                            font-weight: $font_heavy;
                            font-size: large;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;

                            line-height: 20px;
                            margin-block-start: 0;
                            margin-block-end: 0;

                        }

                        .message_prev {

                            height: 50%;
                            font-size: medium;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            margin-block-start: 0;
                            margin-block-end: 0;

                        }
                    }


                    .badges_container {
                        font-size: .8rem;

                        position: absolute;
                        top: 0;
                        right: .4rem;

                        .time_badge {
                            top: .2rem;
                        }

                        .unread_badge {
                            padding: 0.2rem;
                            border-radius: 5px;
                            border: 1px solid $font_color_secondary;
                            position: absolute;
                            top: 1.5rem;
                        }
                    }

                }
            }
        }

        .chat__body {

            // margin: 4.5rem .5rem 4rem calc(22vw + 0.5rem);
            #messages {

                padding: 1rem;
                margin-bottom: 2.5rem;
            }

            background-position: center;
            width: 100%;
        }

            .sending__section {
                // width: 100%;
                position: fixed;
                display: flex;

                justify-content: space-between;
                background-color: $back_primary;
                textarea {
                    font-family: inherit;
                    outline: none;
                    width: 100%;
                }
        
                border-radius: 0px;
                // position: absolute;
                align-items: center;
                bottom: 0rem;
                height: 3rem;
  
                #message_text {
                    resize: none;
                    height: 2rem;
                    width: 100%;
                    font-size: inherit;
                    background-color: $font_color_secondary;
                    border: 0;
                    display: flex;
                    align-items: center;
                    border-radius: .5rem;
         
                    &::placeholder {
                        color: lighten($font_color_secondary, 15%);
                        // font-size: 1.5em;
                        text-align: center;
                        vertical-align: center;
        
                    }
                }
        
                a {
                    color: white;
        
                    &:hover {
                        color: cornflowerblue;
                    }
                }
            }

        #chat_info {


            // height: 2.2rem;
            z-index: 102;
            top: 2.2rem;
            // left: 22vw;
            position: fixed;
            // width: 78vw;
            width: 100%;
            background-color: $back_primary;

            // padding: 0.1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #chat_options {
                justify-content: center;
                padding-right: 1rem;

                a i {
                    color: $font_color_primary;
                }
            }

            #chat_back_button {
                // padding-left: 1rem;
            }

            .left_info {

                display: flex;
                flex-direction: column;
                padding-left: 1rem;

                // align-items: center;
                #chat__name,
                #online_counter {

                    font-size: 1rem;
                    color: $font_color_primary;
                }

                #chat__name {
                    font-size: 1.2rem;
                    font-weight: $font_heavy;
                }

                margin-right: auto;
            }
        }

    }

    #scroll_to_bottom {

        position: fixed;
        bottom: 5rem;
        right: 2rem;

        a {
            background-color: white;

            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3rem;
            height: 3rem;
            color: #8d5bdf;

            &:hover {
                color: cornflowerblue;
                -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
                -moz-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
                box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
            }
        }
    }



}

@media (max-width: 450px) {
    #chat_settings {
        height: 100vh;
        width: 93vw;
        left: 0;
        top: 2.3rem;
    }

    #options {
        height: 2.5rem;

        a {

            margin-left: .5rem;
        }

    }

    #search {
        display: none;
    }





    .roomlist {
        // overflow: scroll;


        &item {
            img {
                width: 45px;
                margin-left: 3px;
            }

            display: flex;
            justify-content: center;

            .texts_container {
                // background-color: transparent;
            }

            &:hover img {

                // border-radius: 50%;

                box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);

            }

            a {
                background-color: transparent;

                .message_prev,
                .roomname {
                    display: none;

                }
            }

        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.grad {

    // background-color: rgba(0, 0, 0, 0.308);
    color: rgb(238, 238, 238);
    /*border: 1px solid;*/

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;

    color: #000;
    font-size: 20px;
    background: $back_secondary;

    background-size: 100% 100%;


    // background-color: #89d4cf;
    // background-image: $side_gradient;
    // background-image: linear-gradient(315deg, #89d4cf 0%, #8d5bdf 74%);
    background-position: 0% 50%;


    // animation: gradient 5s ease infinite;
    border-radius: 10px;

}

.hide {
    display: none;
}