@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:-webkit-any-link {
  color: initial;
}

:-moz-any-link {
  color: initial;
}

:any-link {
  color: initial;
}

a {
  text-decoration: none;
}

.btn {
  margin: 0.2rem;
  min-width: 1rem;
  min-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  cursor: pointer;
  color: #0d1361;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  border-radius: .5rem;
}

.btn:hover {
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  color: white;
  background-color: #8087ed;
}

.chat__name {
  padding: 5px;
  font-weight: 800;
  font-size: medium;
}

.badge .chat__name > a {
  color: #ffffff;
}

.chat__reciever {
  margin-left: auto;
}

#divide {
  position: relative;
  height: 10px;
}

.sender {
  text-decoration: none;
  color: black;
}

.role {
  margin-left: 3px;
  color: #a1a1a1;
  text-decoration: none;
  float: right;
  font-weight: 300;
  font-size: small;
}

.chat__message {
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  /* width: fit-content; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3px;
  font-size: medium;
  max-width: 400px;
  /* max-width: 60%; */
}

.badge {
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 13px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #2b2b2b;
  max-width: 400px;
  /* margin-left: 15%; */
  border-radius: 10px;
  font-size: medium;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 3px  auto;
}

.chat__message img, .badge img {
  width: 100%;
}

.chat__timestamp {
  color: #a1a1a1;
  margin-top: 10px;
  margin-bottom: 3px;
  margin-left: 15px;
  margin-right: 3px;
  font-size: small;
  float: right;
  /* display: flex; */
  /* align-self: flex-end; */
  /*   */
  /* justify-content: end; */
}

.chat__message.nosender img, .badge.nosender img {
  border-radius: 10px 10px 0 0;
}

.chat__message.notext img, .badge.notext img {
  border-radius: 0 0 10px 10px;
}

.chat__message.notext.nosender img, .badge.notext.nosender img {
  border-radius: 10px;
}

.chat__message.notext .chat__timestamp, .badge.notext .chat__timestamp {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 3px;
  padding-top: 1px;
  border-radius: 5px;
  position: absolute;
  /* */
  top: 100%;
  -webkit-transform: translateY(-170%);
  transform: translateY(-170%);
  /* margin-bottom: -30px;  */
}

.chat__message__img {
  overflow: hidden;
}

.chat__message__img img {
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.chat__message__img:hover img {
  /* transition-duration: 0.7s; */
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  /* transition-duration: 0.7s; */
}

.chat__message__text {
  padding: 0px 5px 0px 5px;
}

.chat__timestamp {
  cursor: default;
}

body::-webkit-scrollbar {
  width: 1px;
}

body {
  font-family: 'Commissioner', sans-serif;
}

body .mynav {
  position: fixed;
  z-index: 121;
  width: 100%;
}

body .mynav .nav_list {
  -webkit-app-region: drag;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  padding: 0.3rem;
}

body .mynav .nav_list li > div {
  display: none;
}

body .mynav .nav_list li#menu_minimize {
  margin-left: auto;
}

body .mynav .nav_list li#menu_close {
  margin-right: 0;
  padding-right: 0;
}

body .mynav .nav_list li#menu_close:hover i {
  color: red;
}

body .mynav .nav_list i {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-app-region: none;
  font-size: 23px;
}

body .mynav .nav_list .nav__item {
  -webkit-app-region: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  width: 2.5rem;
  padding: 0.1rem;
}

body .mynav .nav_list .nav__item > div {
  display: none;
}

body .mynav .nav_list .nav__item i {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-app-region: none;
  font-size: 23px;
}

body .mynav .nav_list .nav__item:hover i {
  color: cornflowerblue;
  cursor: pointer;
}

body .mynav .nav_list .nav__item:not(:hover) i {
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

body #chat_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  top: 15vh;
  left: 25vw;
  width: 50vw;
  z-index: 122;
  padding: 1rem;
  position: fixed;
  background-color: #535de7;
}

body #chat_settings .toprow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #chat_settings .toprow #chat__name2 {
  color: whitesmoke;
  font-weight: 600;
  margin-right: auto;
}

body #chat_settings .toprow .nav__item2 {
  padding: 0.5rem;
  padding-left: 2rem;
  cursor: pointer;
  color: lightgray;
}

body #chat_settings .toprow .nav__item2:hover {
  color: white;
}

body #drag_layer {
  position: fixed;
  background-color: #212121b2;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  z-index: 120;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

body #drag_layer #drag_hint {
  width: 70vw;
  height: 30vh;
  font-size: 5vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px dashed white;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #8087ed;
}

body .container .super_container {
  float: left;
}

body .container .super_container #menu {
  background-color: #8087ed;
  position: absolute;
  top: 2.25rem;
  z-index: 120;
  color: whitesmoke;
  position: fixed;
  width: 200px;
  height: calc(100vh - 2.2rem);
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
}

body .container .super_container #menu #usersection {
  padding: 1rem;
}

body .container .super_container #menu .setting_item {
  cursor: pointer;
  padding: 0.5rem;
}

body .container .super_container #menu .setting_item:hover {
  background-color: rgba(255, 255, 255, 0.205);
}

body .container .super_container #options {
  height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 2.25rem;
  z-index: 100;
  width: calc(22vw - 0.5rem);
  padding-top: .5rem;
  padding-right: .5rem;
  padding-bottom: .6rem;
  display: none;
  background-color: #535de7;
}

body .container .super_container #options a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff1eb;
}

body .container .super_container #options #search input {
  width: calc(22vw - 4rem);
  height: 1.5rem;
  outline: none;
  border-radius: .2rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.65);
}

body .container .super_container #options #search i {
  position: absolute;
  left: calc(22vw - 2.2rem);
  top: .8rem;
  color: #8087ed;
}

body .container .super_container .roomlist {
  height: 100vh;
  background-color: #535de7;
  top: 5rem;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
          box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  width: calc(22vw);
}

body .container .super_container .roomlist ul {
  display: block;
  height: calc(100vh - 4rem);
  overflow-y: scroll;
}

body .container .super_container .roomlist ul::-webkit-scrollbar {
  width: 0.01em;
  background-color: transparent;
}

body .container .super_container .roomlistitem {
  position: relative;
  margin-top: 10px;
  margin-left: .5rem;
}

body .container .super_container .roomlistitem.collapsed {
  width: 70px;
}

body .container .super_container .roomlistitem.collapsed a {
  background-color: transparent;
}

body .container .super_container .roomlistitem.collapsed p {
  display: none;
}

body .container .super_container .roomlistitem a {
  color: #fff1eb;
  display: block;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .container .super_container .roomlistitem:hover .texts_container {
  background-color: #606ae9;
}

body .container .super_container .roomlistitem:hover .texts_container .roomname {
  color: #fff1eb;
}

body .container .super_container .roomlistitem .roomlist__img {
  border-radius: 50%;
  width: 50px;
}

body .container .super_container .roomlistitem .texts_container {
  position: absolute;
  padding-left: 55px;
  height: 50px;
  z-index: -1;
  width: calc(22vw - 6.5rem);
}

body .container .super_container .roomlistitem .texts_container .roomname {
  height: 50%;
  font-weight: 600;
  font-size: large;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 20px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body .container .super_container .roomlistitem .texts_container .message_prev {
  height: 50%;
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body .container .super_container .roomlistitem .badges_container {
  font-size: .8rem;
  position: absolute;
  top: 0;
  right: .4rem;
}

body .container .super_container .roomlistitem .badges_container .time_badge {
  top: .2rem;
}

body .container .super_container .roomlistitem .badges_container .unread_badge {
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid #8087ed;
  position: absolute;
  top: 1.5rem;
}

body .container .chat__body {
  background-position: center;
  width: 100%;
}

body .container .chat__body #messages {
  padding: 1rem;
  margin-bottom: 2.5rem;
}

body .container .sending__section {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #535de7;
  border-radius: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0rem;
  height: 3rem;
}

body .container .sending__section textarea {
  font-family: inherit;
  outline: none;
  width: 100%;
}

body .container .sending__section #message_text {
  resize: none;
  height: 2rem;
  width: 100%;
  font-size: inherit;
  background-color: #8087ed;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .5rem;
}

body .container .sending__section #message_text::-webkit-input-placeholder {
  color: #c3c6f7;
  text-align: center;
  vertical-align: center;
}

body .container .sending__section #message_text:-ms-input-placeholder {
  color: #c3c6f7;
  text-align: center;
  vertical-align: center;
}

body .container .sending__section #message_text::-ms-input-placeholder {
  color: #c3c6f7;
  text-align: center;
  vertical-align: center;
}

body .container .sending__section #message_text::placeholder {
  color: #c3c6f7;
  text-align: center;
  vertical-align: center;
}

body .container .sending__section a {
  color: white;
}

body .container .sending__section a:hover {
  color: cornflowerblue;
}

body .container #chat_info {
  z-index: 102;
  top: 2.2rem;
  position: fixed;
  width: 100%;
  background-color: #535de7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container #chat_info #chat_options {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 1rem;
}

body .container #chat_info #chat_options a i {
  color: #fff1eb;
}

body .container #chat_info .left_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  margin-right: auto;
}

body .container #chat_info .left_info #chat__name,
body .container #chat_info .left_info #online_counter {
  font-size: 1rem;
  color: #fff1eb;
}

body .container #chat_info .left_info #chat__name {
  font-size: 1.2rem;
  font-weight: 600;
}

body #scroll_to_bottom {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
}

body #scroll_to_bottom a {
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  color: #8d5bdf;
}

body #scroll_to_bottom a:hover {
  color: cornflowerblue;
  -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
}

@media (max-width: 450px) {
  #chat_settings {
    height: 100vh;
    width: 93vw;
    left: 0;
    top: 2.3rem;
  }
  #options {
    height: 2.5rem;
  }
  #options a {
    margin-left: .5rem;
  }
  #search {
    display: none;
  }
  .roomlistitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .roomlistitem img {
    width: 45px;
    margin-left: 3px;
  }
  .roomlistitem:hover img {
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
            box-shadow: 0px 0px 12px -1px rgba(0, 0, 0, 0.41);
  }
  .roomlistitem a {
    background-color: transparent;
  }
  .roomlistitem a .message_prev,
  .roomlistitem a .roomname {
    display: none;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.grad {
  color: #eeeeee;
  /*border: 1px solid;*/
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  color: #000;
  font-size: 20px;
  background: #8087ed;
  background-size: 100% 100%;
  background-position: 0% 50%;
  border-radius: 10px;
}

.hide {
  display: none;
}
/*# sourceMappingURL=chat.css.map */